/* Add a black background color to the top navigation */
.topnav {
    background-color: #c3b5ff;
    overflow: hidden;
    text-align: center;
    font-family: 'Calibri';
    font-size: 20px;
    align-self: center;
    
  }

  .topnav-right {
    float: right;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #006490;
    color: rgb(255, 255, 255);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #8b5dff;
    color: rgb(255, 255, 255);
  }

  html, body {
    margin: 0;
    padding: 0;
    background-color: #fff6a9;
  }