/* Add a black background color to the top navigation */
.topnav {
    background-color: #c3b5ff;
    overflow: hidden;
    text-align: center;
    font-family: 'Calibri';
    font-size: 20px;
    align-self: center;
    
  }

  .topnav-right {
    float: right;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #006490;
    color: rgb(255, 255, 255);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #8b5dff;
    color: rgb(255, 255, 255);
  }

  html, body {
    margin: 0;
    padding: 0;
    background-color: #fff6a9;
  }

  .intro {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddf2c1;
  }
  
  
  .image {
    flex-basis: 50%;
    margin: 25px;
    border: 7px solid rgba(59, 0, 0, 0.849);
  }
  
  .text {
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    height: 400px;
    text-align: center;
    font-family: "Calibri";
    margin: 0;
  }

    .header {
        font-size: 20px;
        height: 50px;
        font-family: 'Handwritten';
        background-color:  #fff6a9;
        text-align:center;
        margin-top: 0;
        padding-bottom: 15;
    }
    .banner {
        margin: 0;
        padding: 0;
    }

    .btn {
        border: none; /* Remove borders */
        color: white; /* Add a text color */
        padding: 20px 28px; /* Add some padding */
        cursor: pointer; /* Add a pointer cursor on mouse-over */
        border-radius: 12px;
        font-family: 'Perpetua';
        font-size: 22px;
      }
      
      .b {background-color: #04AA6D;} /* Green */
      .b:hover {background-color: #46a049;}
      
      .p {background-color: #2196F3;} /* Blue */
      .p:hover {background: #0b7dda;}
      
      .c {background-color: #ff9800;} /* Orange */
      .c:hover {background: #e68a00;}

      .t {border-radius: 50%;
        background-color: #ff008c;} /* Orange */
      .t:hover {background: #fe53a8;}

      .e {border-radius: 50%;
        background-color: #ff008c;} /* Orange */
      .e:hover {background: #ff008c;}

      .bio {background-color: #562996;} /* Orange */
      .c:hover {background: #371b5f;}

      .chem {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f6faca;
      }
      
      
      .image2 {
        flex-basis: 30%;
        border: 7px solid rgba(255, 166, 0, 0.849);
        margin: 25px;
      }
      
      .text2 {
        font-size: 22px;
        padding-left: 20px;
        padding-right: 20px;
        height: 400px;
        text-align: center;
        font-family: 'Perpetua';
        margin: 0;
      }

      .image3 {
        flex-basis: 30%;
        margin: 25px;
        border: 7px solid rgba(255, 255, 255);
      }
      .imagbio {
        border-radius: 50%;
      }

      .Biology {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e9cafa;
      }